{% extends 'apartments/base.html' %}
{% load static %}

{% block content %}

<section class="ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center pb-4 pt-5">

            <div class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
            <h1 class="mb-4">Посуточная аренда квартир</h1>

          </div></div>
    </div>
</section>

<section class="hero-wrap hero-wrap-2" style="background-image: url(&quot;/static/images/bg_4.jpg&quot;); background-position: 50% -145px;" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
        <div class="row d-flex justify-content-start">
            <div class="details p-5">

                    <ul class="mb-4 text-center">
                        <p class="loc"><span class="icon-my_location mr-2"></span> Нижегородская область, г. Кулебаки</p><li><span>Удобное расположение в центре города</span></li>
                        <li><span>Полный комплект отчетных документов</span></li>
                        <li><span>Доступная цена</span></li>
                        <li><span>Безупречный сервис</span></li>
                        <li><span>Скидки на длительный срок</span></li>
                    </ul>
                </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt testimony-section">
    <div class="overlay" id="apartments"></div>
</section>

<section class="ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Добро пожаловать, дорогие гости!</h2>
            <p>Мы постоянно заботимся о наших гостях, и если у Вас будут дополнительные пожелания , наши менеджеры с удовольствием помогут.</p>
          </div>
        </div>
        <div class="row">
            <div class="col-md-3 mb-5 text-center heading-section ftco-animate">
                <h2 class="mb-4">О наших квартирах</h2>
                <p class="mb-3">Все квартиры расположены в шаговой доступности от центра города.</p>
                <p class="mb-3">Мы позаботились о том, чтобы наши гости чувствовали себя как дома, могли расслабиться, отдохнуть, при желании приготовить себе любимую еду.</p>
                <p class="mb-3">В распоряжении наших гостей в каждой квартире имеется всё самое необходимое.</p>
              </div>
              <div class="col-md-9">
                <div class="row">
                    {% for apartment in object_list %}
                      <div class="col-md-4 ftco-animate">
                        <div class="blog-entry">
                          {% if apartment.photo %}
                            {% with apartment.photo.all|first as photo %}
                                <a href="{% url 'apartments:apartments' apartment.pk %}" class="block-20" style="background-image: url({{ photo.image.url }});"></a>
                            {% endwith %}
                          {% endif %}
                          <div class="text-center py-4">
                              <a href="{% url 'apartments:apartments' apartment.pk %}"><div class="desc pt-3">
                                  <h4 class="price">{{ apartment.price }} руб/сутки</h4>
                                  <h5 class="location">{{ apartment.address }}</h5>
                                  <h5 class="details">{{ apartment.title_description }}</h5>
                              </div></a>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                </div>
              </div>
        </div>
    </div>
</section>
{% endblock %}